<!DOCTYPE html>
<html>
<head>
<title>Blind Chess</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->  
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font --> 
</head>
<body>
	<!-- main -->
	<div class="main">
		<h1>Blindfold Chess</h1>
			<div class="login-form agileits-right"> 
				<div class="agile-row">
					<h3>Next move</h3> 
					<div class="login-agileits-top"> 	
						<form action="/" name="theform" method="post"> 
							<input type="text" id="move" class="name" name="move" required=""/>
						</form> 	
					</div>  
				</div>  
			</div> 
			<div class="clear"> </div>	 
		</div>	
	</div>	
<br /> <br />
    <h2>Last move: {{ move }}</h2>

    <table width="" class='grid' cellspacing="" cellpadding="" border="">
      <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
      </tr>
      <tr>
        <td>e</td>
        <td>f</td>
        <td>g</td>
        <td>h</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
      <tr>
        <td>N</td>
        <td>B</td>
        <td>Q</td>
        <td>K</td>
      </tr>
      <tr>
        <td onclick="document.getElementById('move').value = '';">Erase</td>
        <td></td>
        <td></td>
        <td onclick="document.theform.submit();">Submit</td>
      </tr>
     </table>

    <h2 >All moves</h2>
    <a href="#" onclick="document.getElementsByClassName('all_moves')[0].style.visibility='visible';">Click to show</a>
    <div class="all_moves">
      {{ moves }}
    </div>
<script type="text/javascript">
var lastClicked;
var grid = clickableGrid(function(el, row, col, i) {
  console.log("You clicked on element:", el);
  console.log("You clicked on row:", row);
  console.log("You clicked on col:", col);
  console.log("You clicked on item #:", i);
  
  document.getElementById('move').value += i;

  el.className = 'clicked';
  if (lastClicked) lastClicked.className = '';
  lastClicked = el;
});

function clickableGrid(callback) {
  var i = 0;
  var grid = document.getElementsByTagName("table")[0];
  var rows = grid.rows;

  for (var r = 0; r < rows.length-1; ++r) {
    for (var c = 0; c < rows[r].cells.length; ++c) {
      grid.rows[r].cells[c].addEventListener('click', (function(el, r, c, c) {
        return function() {
          callback(el, r, c, c);
        }
      })(c, r, c, rows[r].cells[c].innerHTML), false);
    }
  }
  return grid;
}
                         
</script>
</body>
</html>
